<!-- TODO in Lab 5: there is not much to do on the home screen. Just arrange the layout so it
looks a bit nicer. -->


<div id="homePage">
<div class="row">
	<div class="col-md-12" id="headerHomePage">
		<font size="10"><b>HOMELETTE</b></font> <i>From the best chefs in the world directly into your kitchen</i>
	</div>
</div>

<div class="row">	
	<div class="col-md-12">
		<br><br><br><br><br><br><br>
		<div class="col-md-6" id="info">
			<h3>A Home Dinner Service</h3>
			<hr>
			<p>Lorem ipsum dolor sit amet, sonsectetur adipiscing elid, sed do eiousmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

			<br><br>
			<p>start quickly</p>
			<a href="#/search" class="btn btn-default">Create new dinner</a>
		</div>
	</div>
</div>
</div>